.short-input,
.long-input {
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 4px;
  height: 40px;
}

.long-input {
  height: 100px;
}

.add-button {
  margin-bottom: 10px;
  width: 100px;
}
